{{!-- 有 errorMsg 就 顯示此段程式碼 --}}
{{#if errorMsg}}
  <div class='result'>
    <h3>{{errorMsg}}<br>{{checkMsg}}</h3>
  </div>
  <form action='/' method='POST'>
    <div class='container'>
      {{! required 確認輸入的值是網址 }}
      <input type='url' name='url' placeholder='Input URL here' required />
      <button class='shorten' type='submit'>Shorten</button>
    </div>
  </form>
{{else}}
  {{! 沒有 shortURL 就顯示 else 的那段程式碼 }}
  {{#if shortURL}}
    <div class='result'>
      <h3>Success! Please use this link:</h3>
      <p id='generatedURL'>{{originURL}}/{{shortURL}}</p>
    </div>
    <button class='copy' onclick='copyURL()'>Copy</button>

    <script>
      function copyURL() { const URL = document.getElementById('generatedURL');
      navigator.clipboard .writeText(URL.innerText) .then(() =>
      alert('已經複製了縮短後的網址')) .catch((error) => console.log(error)); }
    </script>

  {{else}}
    <form action='/' method='POST'>
      <div class='container'>
        {{! required 確認輸入的值是網址 }}
        <input type='url' name='url' placeholder='Input URL here' required />
        <button class='shorten' type='submit'>Shorten</button>
      </div>
    </form>
  {{/if}}
{{/if}}